---
title: '스위치온 다이어트'
---

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ '/assets/css/tailwind.css' | url }}" />
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="max-w-prose mx-auto">
      {{ content | safe }}
    </div>
  </body>
</html>
